footer {
  position: fixed;
  bottom: 0;
  width: 100vw; /* footer의 넓이를 100% 채운다*/
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column; /*위아래로 변경*/
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons__desc {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}

.footer-icons__img {
  width: 30px;
}
